<!-- Toolbar -->
<div class="toolbar" role="banner">
  <!-- <span><i class="fa fa-2x fa-users text-light ms-4 mb-1" aria-hidden="true"></i></span> -->
  <h4 class="ms-4 ps-3 fw-light">{{title}}</h4>
</div>

<div class="container-fluid height">
  <div class="content" role="main">
    <router-outlet></router-outlet>
  </div>
</div>

<!-- Footer -->
<footer>
  <div class="row m-1 w-100 text-white row-cols-auto">
    <div class="col ms-4">IIHT Academy</div>
    <div class="col ms-auto me-4">Cognizant</div>
  </div>
</footer>